@use 'src/styles/variables' as vars;

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 50px;
  bottom: 50px;
  z-index: 999;
  max-width: 1280px;

  .chat {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .close-button {
    margin-top: 10px;
  }
}
