$bg-primary: #ffffff;
$bg-secondary: #fcfcfc;

$dark-primary: #37383a;
$dark-secondary: #4b4b4b;

$borders-divider-disabled-bg: #e6e7eb;
$drop-shadow-small: rgba(231, 232, 235, 0.6);

$color-primary: #ffd132;
$color-hover: #ebbf33;

$color-primary-bg: #ebbf33;

$warning: #ff9c7d;
$warning-border: rgba(255, 0, 0, 0.6);
$warning-bg: rgba(255, 0, 0, 0.12);
$success: #b6ed8b;
$success-border: rgba(0, 128, 0, 0.6);
$success-bg: rgba(0, 128, 0, 0.12);
$transparent: rgba(255, 255, 255, 0);

:export {
  dark-primary: $dark-primary;
  dark-secondary: $dark-secondary;
  warning: $warning;
  color-hover: $color-hover;
}
