@use 'src/styles/variables' as vars;

.send-message-button-wrapper {
  width: 30px;
  opacity: 0;
  transition: all 0.3s ease-out;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .button {
    min-height: 24px;
    min-width: 24px;
    border-radius: 4px;
    padding: 0;
  }
}
