.chat-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-body-wrapper {
  overflow: auto;
  min-height: 150px;
  flex-grow: 1;
  background-image: url(src/assets/background.svg);
  background-color: lightgrey;
}
